/* ***********************************************************
## COLORS
*********************************************************** */
/* ***********************************************************
## COLORS
*********************************************************** */
/* set up colors that will be used over and over again, in RGBA, A ommitted so that it can be set as needed but maintain base color */
/* ******************************************************** */
/* ***********************************************************
## FONTS
*********************************************************** */
/* ***********************************************************
## FONTS
*********************************************************** */
/* ******************************************************** */
/* ***********************************************************
## FUNCTIONS
*********************************************************** */
/* The font will be at the preferred size on 1000 pixel wide viewports by default. */
.neow3hide {
  display: none;
  visibility: hidden;
  overflow: initial;
}

img.lazy {
  display: block;
}

/* ******************************************************** */
/* ***********************************************************
## GALLERY STYLE
*********************************************************** */
.neo__gallery {
  min-height: 80vh;
}
.neo__gallery > div {
  width: 85%;
  max-width: 2080px;
  margin: calc(4vw + 20px) auto;
}
@media screen and (max-width: 1480px) {
  .neo__gallery > div {
    padding: 0 0 0 4%;
  }
}
@media screen and (max-width: 960px) {
  .neo__gallery > div {
    padding: 0 0 4vw 6%;
  }
}
@media screen and (max-width: 640px) {
  .neo__gallery > div {
    padding: 0 0 4vw 10%;
  }
}
.neo__gallery > div h1 {
  margin: calc(1vw + 10px) 0;
}

.neo_filter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: start;
  -webkit-justify-content: start;
}
@media screen and (max-width: 640px) {
  .neo_filter {
    margin-top: calc(2vw + 5px);
  }
}
.neo_filter > li {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 2.2em;
  font-size: 16px;
  margin-right: calc(2vw + 5px);
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 960px) {
  .neo_filter > li {
    font-size: calc(16px + -3 * (100vw - 960px) / -600);
  }
}
@media screen and (max-width: 360px) {
  .neo_filter > li {
    font-size: 13px;
  }
}
@media screen and (max-width: 640px) {
  .neo_filter > li {
    margin-bottom: calc(2vw + 5px);
  }
}
.neo_filter > li:after {
  width: 100%;
  height: 2px;
  content: "";
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
}
.neo_filter > li:hover {
  color: #a75248;
}
.neo_filter > li.selected {
  pointer-events: none;
}
.neo_filter > li.selected:after {
  background: #a75248;
}

figure {
  padding: calc(1vw / 2) 0;
}
figure img {
  -webkit-box-shadow: 1px 1px 1px #e9e9e9;
  -moz-box-shadow: 1px 1px 1px #e9e9e9;
  box-shadow: 1px 1px 1px #e9e9e9;
  height: 100%;
}

.neo_grid {
  margin: 2vw auto;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: start;
  -webkit-justify-content: start;
}
.neo_grid.hide {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  display: none;
}
.neo_grid > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  flex: 1;
  width: 49%;
  min-width: 49%;
  max-width: 49%;
  width: 49%;
  min-width: 49%;
  max-width: 49%;
  overflow: hidden;
}
.neo_grid > li:nth-child(odd) {
  padding-right: 1vw;
}
@media screen and (max-width: 720px) {
  .neo_grid > li {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .neo_grid > li:nth-child(odd) {
    padding-right: 0;
  }
}
.neo_grid > li figure {
  width: 100%;
}
.neo_grid > li.col1, .neo_grid > li.col2 {
  height: 20vw;
}
@media screen and (max-width: 720px) {
  .neo_grid > li.col1, .neo_grid > li.col2 {
    height: 40vw;
  }
}
.neo_grid > li.col1 figure, .neo_grid > li.col2 figure {
  height: 100%;
}
.neo_grid > li.col1.square, .neo_grid > li.col2.square {
  height: auto;
}
.neo_grid > li.col2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.neo_grid > li.col2 figure {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  flex: 1;
  width: 49%;
  min-width: 49%;
  max-width: 49%;
}
.neo_grid > li.col2 figure:first-child {
  padding-right: 1vw;
  max-width: 100%;
}
.neo_grid > li.col3 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.neo_grid > li.col3 figure {
  width: 100%;
  min-width: 100%;
}
.neo_grid > li.col3 figure:nth-of-type(1), .neo_grid > li.col3 figure:nth-of-type(2) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  flex: 1;
  width: 49%;
  min-width: 49%;
  max-width: 49%;
}
.neo_grid > li.col3 figure:nth-of-type(1):first-child, .neo_grid > li.col3 figure:nth-of-type(2):first-child {
  padding-right: 1vw;
}
.neo_grid > li.col3 figure:nth-of-type(3) {
  height: auto;
}
.neo_grid > li.col3 figure:nth-of-type(1) {
  max-width: 100%;
}
